<section class="headline">
	<h2>A new way to record and use your moves</h2>	
	<div class="sing-up">
		<a class="button create" href="/register">Create an Account</a>
		<a class="button login" href="/signin">Log In</a>
	</div>
</section>

<section class="promo-move-book clearfix">
	<div class="container">
		<div class="row">
			<div class="span6">
				<img src="book.png" />
			</div>
			<div class="span6">
				<h3>A Better Move Book</h3>
				<p class="promo-text">
					Store, catagorize, and rate your moves to get a better understanding of your arsonal. Bboys Tools is the modern upgrade to the classic move notebook.
				</p>
			</div>
		</div>
	</div>
</section>
<section class="promo-tools clearfix">
	<div class="container">
		<div class="row">
			<div class="span6">
				<h3>Tools To Help You Train Harder</h3>
				<p class="promo-text">
					An ever expanding selection of tools to help you train better and step up your game in practice and battle.
				</p>
			</div>	
			<div class="span6">
				<img src="timer.png" />
			</div>
		</div>
		<div class="row">
			<h4 class="span12">Featured Tools</h4>
			<div class="span4 alpha">
				<h5>30/30's Timer</h5>
				<p>
					30/30's is a training game developed by the Robotops Crew. Start a cypher with a few people and hit the start button. An airhorn will sound every 30 seconds signalling a new dancer to enter the cypher. Set round stipulations like "foundational footwork", "sweeps and pretzels", or "threads only". The fewer people that are in your cypher, the harder it gets.
				</p>
			</div>
			<div class="span4">
				<h5>Battle Mode</h5>
				<p>
					Have you ever finnished a battle and then remembered tons of moves you could have thrown still? Now you can be sure you are throwing 	everything you have with battle mode. Select your used moves and they dissapear from the list of available moves. By the end of the battle, only unused moves remain.
				</p>
			</div>
			<div class="span4">
				<h5>Set Generator</h5>
				<p>
					Scientifically set up your sets by equally distributing your moves over a set number of sets. First give your moves values, select how many sets you need, and see what your most even sets will be.
				</p>
			</div>
		</div>
	</div>
</section>