<h1>30/30's Timer</h1>
<div id="thirty" class="thirty">00m00s</div>
<audio id="breen" src="/airhorn.mp3" ></audio>
<button class="btn-success btn" id="start">Start/Stop</button><button class="btn btn-danger " id="reset">Reset</button>
