@import "compass";
$teal:#16A085;
$green: #27AE60;
$red:#C0392B;
$blue: #2980B9;
$purp:#8E44AD;
$orange:#D35400;


/* A less configurable but more areodynamic transition mixin */
@mixin transition($sec: 0.2s) {
  -webkit-transition: all $sec ease-out;
     -moz-transition: all $sec ease-out;
      -ms-transition: all $sec ease-out;
       -o-transition: all $sec ease-out;
          transition: all $sec ease-out;
}
