/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require twitter/bootstrap
 *= require twitter/bootstrap/_responsive
 *= require font-awesome
 */

body {
	padding-top:40px;
}

.button {
	background: #333;
	color: white;
	padding: 6px 14px;
	border-radius: 5px;
	margin: 10px 0;
	display: inline-block;
	border: 3px solid #333;
	&:hover {
		border-color: #555;
		color:white;
		background: #666;
		text-decoration: none;
	}
}
