@import 'base';

@charset "UTF-8";
@-ms-viewport {
	width: device-width;
}

@viewport {
	width: device-width;
}
body {
	background: url(/assets/wood.png) #ECF0F1;
}

body, input, button, select, textarea {
	font-family: 'Montserrat', sans-serif;
}
.wrap {
	margin-top:60px;
}
.page-title {
	margin-top: 60px;
}
.mobile-user-menu {
	display: none;
	margin-top: 40px;
}
.navbar-fixed-top .navbar-inner {
	background:url(/assets/shattered.png) #111;
	box-shadow: 0px -3px 5px black inset;
}
.navbar .nav li.dropdown.open > .dropdown-toggle {
	background: transparent;
	color:white;
}
.navbar .nav > li > a {
	color: #eee;
	text-shadow: 0 1px 0 #555;
	&:hover {
		color:#ccc;
	}
}
.navbar .brand {
	color: #eee;
	text-shadow: 0 1px 0 #555;
	text-transform: uppercase;
}
.button {
	background: #333;
	color: white;
	padding: 6px 14px;
	border-radius: 5px;
	margin: 10px 0;
	display: inline-block;
	border: 3px solid #333;
	font-weight: bold;
	text-transform: uppercase;
	@include transition;
	&:hover {
		border-color: #555;
		color:white;
		background: #666;
		text-decoration: none;
	}
}
.btn-success {
	background: $green;
	&:hover {
		background: $green - 20;
	}
}
.btn-danger {
	background: $red;
	&:hover {
		background: $red - 20;
	}
}
#slide-nav {
	display: none;
	width: 30px;
	height: 25px;
	padding:3px;
}

#outer-wrap {
	position: relative;
	overflow: hidden;
	width: 100%;
}

#inner-wrap {
	position: relative;
	width: 100%;
}


@media screen and (max-width: 45em) {
.mobile-user-menu {
	display: block;
}
	.block {
		position: relative;
		margin: 0 auto;
		padding: 1.5em 1.25em;
		max-width: 60em;
	}

	.close-btn {
		display: block;
		width: 2.625em;
		height: 2.25em;
		padding: 0;
		border: 0;
		outline: none;
		background: #333333 url("../img/close-btn.svg") left center no-repeat;
		background-size: 1.875em 1.875em;
		overflow: hidden;
		white-space: nowrap;
		text-indent: 100%;
		filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
		opacity: 1;
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	}
	.no-svg .close-btn {
		background-image: url("../img/close-btn.png");
	}
	.close-btn:focus, .close-btn:hover {
		filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
		opacity: 1;
	}

	.nav-btn {
		display: block;
		width: 2.625em;
		height: 2.25em;
		padding: 0;
		border: 0;
		outline: none;
		background: #333333 url("../img/nav-icon.svg") left center no-repeat;
		background-size: 1.875em 1.5em;
		overflow: hidden;
		white-space: nowrap;
		text-indent: 100%;
		filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
		opacity: 0.7;
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	}
	.no-svg .nav-btn {
		background-image: url("../img/nav-icon.png");
	}
	.nav-btn:hover, .nav-btn:focus {
		filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
		opacity: 1;
	}

	#outer-wrap {
		position: relative;
		overflow: hidden;
		width: 100%;
	}

	#inner-wrap {
		position: relative;
		width: 100%;
	}

	#nav {
		z-index: 200;
		position: relative;
		overflow: hidden;
		width: 100%;
		color: #fff;
	}
	#nav .close-btn {
		display: none;
	}
	#nav .block-title {
		border: 0;
		clip: rect(0 0 0 0);
		height: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: 1px;
	}
	#nav .block {
		z-index: 2;
		position: relative;
		padding: 0.75em 1.25em;
		background: #333333;
	}
	#nav ul {
		*zoom: 1;
		display: block;
	}
	#nav ul:before, #nav ul:after {
		content: "";
		display: table;
	}
	#nav ul:after {
		clear: both;
	}
	#nav li {
		display: block;
	}
	#nav li a {
		display: block;
		color: #ccc;
		font-size: 1.2em;
		line-height: 1.28571em;
		font-weight: bold;
		outline: none;
	}
	#nav li a:focus, #nav li a:hover {
		color: #fff;
		background: rgba(255, 255, 255, 0.1);
	}
	#nav li.is-active a {
		color: #fff;
	}

	#top {
		z-index: 100;
		position: relative;
		color: #fff;
		background: #333333;
	}
	#top .block-title {
		margin: 0;
		font-size: 1.875em;
		line-height: 1.2em;
		text-align: center;
		white-space: nowrap;
	}
	#top .nav-btn {
		position: absolute;
		top: 1.5em;
		left: 1.875em;
	}



	body {
		padding:0;
	}
	.navbar .user-menu {
		display: none;
	}
	.navbar-fixed-top {
		margin:0;
	}
	.navbar .brand {
		margin-left: 50px;
	}
	#slide-nav {
		cursor: pointer;
		display: block;
		position: absolute;
		left: 10px;
		top: 19px;
		color: white;
		font-size: 2.0em;
	}
	.container {
		padding: 0 20px;
	}
	#nav {
		position: absolute;
		top: 0;
		padding-top: 5.25em;
	}
	.dropdown-menu {
		position: relative;
background: transparent;
padding: 0;
border: 0;
border-radius: 0;
	}
	.navbar .nav > li > .dropdown-menu::after {
		border: 0;
	}
	#nav:not(:target) {
		z-index: 1;
		height: 0;
	}
	#nav:target .close-btn {
		display: block;
	}
	#nav .close-btn {
		position: absolute;
		top: -3.75em;
		left: 1.875em;
	}
	#nav .block {
		position: relative;
		padding: 0;
	}
	#nav ul {
		float: none;
		margin:0;
	}
	#nav li {
		float:none;
		position: relative;
		border-top: 1px solid rgba(255, 255, 255, 0.1);
	}
	#nav li:last-child {
		border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	}
	#nav li.is-active:after {
		z-index: 50;
		display: block;
		content: "";
		position: absolute;
		top: 50%;
		right: -0.03125em;
		margin-top: -0.625em;
		border-top: 0.625em transparent solid;
		border-bottom: 0.625em transparent solid;
		border-right: 0.625em white solid;
	}
	#nav li a {
		padding: 0.85714em 1.14286em;
	}

	.js-ready #nav {
		height: 100%;
		width: 70%;
		background:url(/assets/shattered.png) #111;
		-webkit-box-shadow: inset -1.5em 0 1.5em -0.75em rgba(0, 0, 0, 0.25);
		-moz-box-shadow: inset -1.5em 0 1.5em -0.75em rgba(0, 0, 0, 0.25);
		box-shadow: inset -1.5em 0 1.5em -0.75em rgba(0, 0, 0, 0.25);
	}
	.js-ready #nav .block {
		background: transparent;
	}
	.js-ready #nav .close-btn {
		display: block;
		filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
		opacity: 0.7;
	}
	.js-ready #nav .close-btn:focus, .js-ready #nav .close-btn:hover {
		filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
		opacity: 1;
	}

	.js-ready #nav {
		left: -70%;
	}
	.js-ready #inner-wrap {
		left: 0;
	}

	.js-nav #inner-wrap {
		left: 70%;
	}

	.csstransforms3d.csstransitions.js-ready #nav {
		left: 0;
		-webkit-transform: translate3d(-100%, 0, 0);
		-moz-transform: translate3d(-100%, 0, 0);
		-ms-transform: translate3d(-100%, 0, 0);
		-o-transform: translate3d(-100%, 0, 0);
		transform: translate3d(-100%, 0, 0);
		-webkit-backface-visibility: hidden;
		-moz-backface-visibility: hidden;
		-ms-backface-visibility: hidden;
		-o-backface-visibility: hidden;
		backface-visibility: hidden;
	}
	.csstransforms3d.csstransitions.js-ready #inner-wrap {
		left: 0 !important;
		-webkit-transform: translate3d(0, 0, 0);
		-moz-transform: translate3d(0, 0, 0);
		-ms-transform: translate3d(0, 0, 0);
		-o-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		-webkit-transition: -webkit-transform 500ms ease;
		-moz-transition: -moz-transform 500ms ease;
		-o-transition: -o-transform 500ms ease;
		transition: transform 500ms ease;
		-webkit-backface-visibility: hidden;
		-moz-backface-visibility: hidden;
		-ms-backface-visibility: hidden;
		-o-backface-visibility: hidden;
		backface-visibility: hidden;
	}

	.csstransforms3d.csstransitions.js-nav #inner-wrap {
		-webkit-transform: translate3d(70%, 0, 0) scale3d(1, 1, 1);
		-moz-transform: translate3d(70%, 0, 0) scale3d(1, 1, 1);
		-ms-transform: translate3d(70%, 0, 0) scale3d(1, 1, 1);
		-o-transform: translate3d(70%, 0, 0) scale3d(1, 1, 1);
		transform: translate3d(70%, 0, 0) scale3d(1, 1, 1);
	}

	.csstransforms3d.csstransitions.js-ready #nav .block {
		filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
		opacity: 0.7;
		-webkit-transition: opacity 300ms 100ms, -webkit-transform 500ms ease;
		-webkit-transition-delay: ease, 0s;
		-moz-transition: opacity 300ms 100ms ease, -moz-transform 500ms ease;
		-o-transition: opacity 300ms 100ms ease, -o-transform 500ms ease;
		transition: opacity 300ms 100ms ease, transform 500ms ease;
		-webkit-transform: translate3d(70%, 0, 0) scale3d(0.9, 0.9, 0.9);
		-moz-transform: translate3d(70%, 0, 0) scale3d(0.9, 0.9, 0.9);
		-ms-transform: translate3d(70%, 0, 0) scale3d(0.9, 0.9, 0.9);
		-o-transform: translate3d(70%, 0, 0) scale3d(0.9, 0.9, 0.9);
		transform: translate3d(70%, 0, 0) scale3d(0.9, 0.9, 0.9);
		-webkit-transform-origin: 50% 0%;
		-moz-transform-origin: 50% 0%;
		-ms-transform-origin: 50% 0%;
		-o-transform-origin: 50% 0%;
		transform-origin: 50% 0%;
	}

	.csstransforms3d.csstransitions.js-nav #nav .block {
		filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		-moz-transform: translate3d(0, 0, 0);
		-ms-transform: translate3d(0, 0, 0);
		-o-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}


footer {
	margin-top: 40px;
	padding:40px 0;
	background: rgba(black, 0.8);
	color:white;
	a {
		&:hover {
			color:$blue;
		}
	}
}
