// Place all the styles related to the Moves controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'base';
.moves {
	margin:0;
	.move {
		list-style: none;
		border-radius: 5px;
		padding:10px;
		margin:0 0 10px 0;
		color:white;
		font-size: 1.6em;
		font-weight: bold;
		box-shadow: 2px 2px 4px rgba(black, 0.5);
		span {
			line-height: 12px;
			display: block;
			font-size:0.6em;
			font-weight: normal;
		}
		&.footwork { background: $green; }
		&.power-move { background: $red + 20; }
		&.power-combo { background: $red; }
		&.top-rock { background: $green + 40; }
		&.freeze { background: $blue; }
		&.freeze-combo { background: $blue - 40; }
		a {
			color:white;
			opacity: 0.7;
			&:hover {
				opacity: 0.9;
				text-decoration: none;
			}
		}
		.icons {
			display: none;
			float: right;
			position: relative;
		}
		&:hover .icons {
			display: block;
		}
	}
}
