// Place all the styles related to the Moves controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'base';

.moves {
	margin:0;
	.move {
		list-style: none;
		border-radius: 5px;
		padding:10px;
		margin:0 0 10px 0;
		font-size: 1.6em;
		font-weight: bold;
		background: #eee;
		color: #333;
		box-shadow: 1px 1px 2px rgba(black, 0.5);
		span {
			line-height: 16px;
			display: block;
			font-size:0.6em;
			font-weight: normal;
		}
		&.go-down {  border-left: 12px solid $purp; }
		&.footwork { border-left: 12px solid $green; }
		&.power-move { border-left: 12px solid $red + 20; }
		&.power-combo { border-left: 12px solid $red; }
		&.top-rock { border-left: 12px solid $green + 40; }
		&.freeze { border-left: 12px solid $blue; }
		&.freeze-combo { border-left: 12px solid $blue - 40; }
		a {
			color:#333;
			opacity: 0.5;
			@include transition;
			&:hover {
				opacity: 0.9;
				text-decoration: none;
			}
		}
		.icons {
			margin-top: 10px;
			opacity: 0;
			float: right;
			position: relative;
			@include transition;
		}
		&:hover .icons {
			opacity: 1;
		}
	}
}
