// Place all the styles related to the rounds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'base';

.round-moves {
	display: none;
}
.round {
	margin-bottom: 30px;
	padding:10px 20px 5px 10px;
	border-bottom: solid 4px #2c3E50;
	position: relative;
	@include transition;
	&.active {
		border:dashed 4px rgba($red, 0.4);
	}
	&:hover {
		background: rgba(black, 0.1);
	}
	.add-moves {
		position: absolute;
		top:5px;
		right:40px;
		font-size:12px;
		margin:0 10px;
		cursor:pointer;
	}
	h3 {
		padding:0 0 0 30px;
		@include transition;
		.icon-chevron-right {
			margin: -1px 10px 0 -27px;
			@include transition;
			position: absolute;
			
		}
		cursor: pointer;
		margin-top: 4px;
		line-height: 24px;
		.delete {
			margin-right: 10px;
			opacity: 0;
			float:right;
			@include transition;
			color:$red;
			text-shadow:none;
			&:hover {
				text-decoration: none;
			}
		}
		&:hover {
			.delete {
				opacity: 1;
			}
		}
	}
	&.open {
		background: rgba(black, 0.1);
		h3 {
			.icon-chevron-right {
			 margin-right: 5px;
	       -webkit-transform: rotate(90deg);  /* Chrome, Safari 3.1+ */
   			  -moz-transform: rotate(90deg);  /* Firefox 3.5-15 */
   			   -ms-transform: rotate(90deg);  /* IE 9 */
   			    -o-transform: rotate(90deg);  /* Opera 10.50-12.00 */
   			       transform: rotate(90deg);
   			}
		}
	}
}
.delete {
	right:10px;
	top:9px;
	position: absolute;
	float:right;
}
